@model BookStore.WEB.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваша корзина</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Книга</th>
                <th>Цена</th>
                <th>Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.CartItems)
            {
                <tr>
                    <td>@line.Count</td>
                    <td>@line.Book.Name</td>
                    <td>@line.Book.Price.ToString("# руб")</td>
                    <td></td>
                    <td>
                    @Html.ActionLink("Удалить", "RemoveFromCart", "ShoppingCart", new { id = line.Book.Id, returnUrl = Model.returnUrl},new {@class="btn btn-primary"})
                    </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Итоге:</td>
                <td>

                </td>
            </tr>
        </tfoot>
    </table>

@*@Html.Action("ShowCart", new { returnUrl = Model.returnUrl })*@
<a class="btn btn-primary" href="@Model.returnUrl">Продолжить покупки</a>

