@model BookStore.WEB.Models.BookViewModel
<div class="card cards">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <h6 class="card-text">Жанр : @Model.Category</h6>
            <p class="card-text">@Model.Description</p>
            <h6 class="card-title">@Model.Author</h6>
            <h6 class="text-right">@Model.Price.ToString("# руб")</h6>
            @using (Html.BeginForm("AddToCart","ShoppingCart"))
            {

                @Html.HiddenFor(m=>m.Id)
                <input type="hidden" value="@ViewBag.page" name="page" />
                <input type="hidden" value="@ViewBag.category" name="category" />
                <input type="submit" class="btn btn-sm btn-primary" value="Добавить в корзину" />
            }
        </div>
    </div>
