
@model PagedList.IPagedList<BookStore.WEB.Models.BookViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
@{ 
    ViewBag.Title = "Товары";
}
@foreach (var book in Model)
{
    <div class="card cards">
        <div class="card-body">
            <h4 class="card-title">@book.Name</h4>
            <h6 class="card-text">Жанр : @book.Category</h6>
            <p class="card-text">@book.Description</p>
            <h6 class="card-title">@book.Author</h6>
            <h6 class="text-right">@book.Price.ToString("# руб")</h6>
        </div>
    </div>  
}
    <div class="float-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>